/* Imports */
@import url('../fonts/Poppins-Regular.ttf');
@import url('../fonts/Poppins-Light.ttf');
@import url('../fonts/Poppins-Medium.ttf');
@import url('../fonts/Poppins-Bold.ttf');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&display=swap');


/* General */
:root {
    --black: #333333;
    --light-grey: #F2F2F2;
    --dark-grey: #222222;
    --blue: #2D9CDB;
    --green: #27AE60;
    --red: #EB5757;
}

* {  
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    width: 100%;
}
body { 
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    line-height: 2em;
    color: var(--black);
}
p {
    font-size: 1em;
    font-weight: 200;
}
.clear { 
    clear: both;
    margin-bottom: 20px; 
}
.clear.lg { margin-bottom: 100px; }


/* Text */
a { text-decoration: none; }
a, a:visited, a:focus { color: #4a4a4a; }
a:active, a:hover { color: #727272; }
.uppercase { text-transform: uppercase; }
.center-text { text-align: center; }
.red { color: var(--red); }
.blue { color: var(--blue); }
.green { color: var(--green); }
strong { display: block; }

/* Images */
.hero {
    width: 100%;
    border-radius: 20px;
}
.logo {
    font-family: 'Heebo', sans-serif;
    float: left;
    font-size: 1.4em;
    font-weight: 500;
    text-align: center;
}


/* Header */
header { padding: 10px; }
#menu ul li {
    list-style: none;
    float: left;
}
#menu { float: right; }
#menu ul li { margin-right: 80px; }
#menu ul li a {
    font-family: 'Poppins';
    font-size: 1.2em;
}
nav a:hover::after, a.active::after {
    content: " ";
    display: block;
    width: 100%;
    height: 3px;
    margin-top: 1px;
}
#menu-toggle {
    font-size: 2.4em;
    text-align: right;
    display: none;
}
.menu-opened {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    padding: 14px;
    width: 100%;
    height: 100%;
    background:  var(--black);
    color: #fff;
}
.menu-opened a, .menu-opened a:visited { color: #fff; }
.menu-opened a:active, .menu-opened a:focus, .menu-opened a:hover { color: #efefef; }


/* About */
#about span:first-child, #about h2 { 
    display: block;
    margin-bottom: 20px; 
}
#about span.sm { font-size: 0.8em; }
.emailer { position: relative; }
.emailer input {
    border: 0;
    border-radius: 12px;
    float: left;
    position: absolute;
}
.emailer input[type='email'], .emailer input[type='text'] {
    width: 80%;
    padding: 14px 20px;
    background-color: var(--light-grey);
    left: 0;
}
.emailer input[type='submit'] {
    width: 30%;
    padding: 10px;
    top: 4px;
    left: 70%;
    background-color: var(--blue);
    color: #fff;
}


/* Services */
#services strong {
    margin: 24px 0;
}
#services .material-icons {
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.8em;
    text-align: center;
}
#services .service:nth-child(1) .material-icons { background-color: var(--blue); }
#services .service:nth-child(2) .material-icons { background-color: var(--green); }
#services .service:nth-child(3) .material-icons { background-color: var(--red); }
#services .service article {
    width: 80%;
    height: 100%;
    padding: 30px;
    box-shadow: none;
    border-radius: 10px;
    cursor: pointer;
    transition: box-shadow 1s;
}
#services .service button {
    padding: 10px;
    border: 0;
    border-radius: 10px;
    background-color: var(--light-grey);
    color: var(--dark-grey);
    transition: background-color 1s;
    transition: color 0.5s;
}
#services .service:hover article {
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.21);
}
#services .service:hover button {
    background-color: var(--blue);
    color: #fff;
}





/* Footer */
footer a:hover { text-decoration: underline; }



/* Queries */
@media only screen and (min-width: 0px) and (max-width: 600px) {
    .clear { margin-bottom: 4px; }
    .clear.lg { margin-bottom: 50px; }
    body { padding: 5px; }
    #menu ul { display: none; }
    #menu.menu-opened ul { 
        display: block; 
        position: absolute;
        padding: 0;
        top: 30%;
        left: 0;
        width: 100%;
        text-align: center;
    }
    #menu.menu-opened ul li {
        clear: both;
        width: 100%;
        text-align: center;
        margin-bottom: 35px;
    }
    nav a:hover::after, a.active::after {
        width: 25%;
        margin: 1px auto 0;
    }
    #menu-toggle { display: block; }  
    #about span:first-child, #about h2 { margin-bottom: 14px; }
    .hidden { display: none;}
    #services .service article { width: 100%; }
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
    .clear { margin-bottom: 4px; }
    .showcase { font-size: 0.9em; }
    #menu ul li { margin-right: 40px; }
}